* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.home {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color: #EFE2BA;
    height: 100%;
    align-items: center;
}

.home .TitleArea {
    padding-top: 1%;
}
